h1 {
    font-size: 2rem;
    text-align: center;
    color: darkgray;
}

h2 {
    font-size: 1rem;
    text-align: start
    color: grey
}

body {
    background-color: antiquewhite;
}

p {
    color: gray;
}